.container {
    display: flex;
    align-items: center;
    width: 222px;
    height: 60px;
    gap: 14px;
    opacity: 1; /* Ajustează opacitatea după preferințe */
  }
  
  .logo {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(22, 22, 22, 1);
    opacity: 1; /* Ajustează opacitatea după preferințe */
  }
  
  .text {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.04em;
    text-align: left;
  }
  