.containerCard {
display: flex;
flex-direction: row;
gap: 0;

.colorStatus {
    background: #8FA1D0;
    width: 4px;
    height: 174px;
    gap: 0px;
    border-radius: 4px 0px 0px 4px;
    opacity: 0px;
    
}
    .cardWrapper {
        display: flex;
        flex-direction: column;
        width: 334px;
        height: 174px;
        gap: 0px;
        opacity: 0px;
        background: #ffffff;
        
       
      
        .containerContent {
          display: flex;
          flex-direction: column;
          gap: 8px;
          border-bottom: 1px solid #1616161a;
          padding-bottom: 14px;
          margin: 14px 20px 0px 20px;
      
          .titleCard {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            letter-spacing: -0.02em;
            text-align: left;
            width: 159px;
            height: 21px;
            color: #161616;
            .titleText {
              span {
                margin: 0px;
              }
            }
          }
          .commentCard {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #161616b2;
            .commentText {
              span {
                margin: 0px;
              }
            }
          }
        }
        .statusContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          color: #161616;
          padding: 0px 14px 14px 20px;
          align-items: center;
          
      
          .statusWrapper {
            display: flex;
            flex-direction: row;
            gap: 14px;
            
      
            .priorityContainer {
              display: flex;
              flex-direction: column;
              gap: 4px;
      
              .priorityText {
                font-family: Poppins;
                font-size: 8px;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: -0.02em;
                text-align: left;
                color: #16161680;
              }
      
              .priorityStatus {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1.5px;
      
                .cardIcons {
                  width: 12px;
                  height: 12px;
                  color: #8FA1D0;
                }
      
                span {
                  font-family: Poppins;
                  font-size: 10px;
                  font-weight: 400;
                  line-height: 15px;
                  letter-spacing: -0.02em;
                  text-align: left;
                  color: #161616;
                }
              }
            }
      
            .deadlineContainer {
              display: flex;
              flex-direction: column;
              gap: 4px;
              
              
              .deadlineText {
                font-family: Poppins;
                font-size: 8px;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: -0.02em;
                text-align: left;
                color: #16161680;
              }
              .deadlineDate {
                font-family: Poppins;
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: -0.02em;
                text-align: left;
                color: #161616;
              }
            }
          }
      
          .buttonsContainer {
              display: flex;
              flex-direction: row;
              gap: 12px;
              padding: 14px;
              justify-content: center;
              align-items: center;
              
              .buttonWrapper {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 8px;
               
              }
              .button {
                width: 16px;
                height: 16px;
                color: #16161680
            }
          }
        }
      }
      
      
}