

.boardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000000;
  width: calc(100vw - 260px);
  padding: 0 24px;
  background-color:whitesmoke;
  
 
}



.boardName {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 10px 0px 10px 34px ;
  color: rgba(0, 0, 0, 0.582);
  margin: 0;
  

}

.columnContainer {
display: flex;
flex-direction: column;
gap: 34px;

}

.addBtnContainer {
  height: 45px;
  width: 310px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  

  .addColumnContainer {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    align-items: center;
    gap: 10px;
    box-sizing: content-box;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #161616;
    padding: 10px 4px;
  }

  .addColumnText {
    color: #161616;
    width: 170px;
  

    input {
      border: 0px;
      outline: none;
      transition: border 0.3s ease, box-shadow 0.3s ease;
      background-color: whitesmoke;
      padding: 6px 0px 6px 4px;
      border-radius: 5px;
      }

    :focus {
      border: none; 
      box-shadow: none; 
    }
    ::placeholder {
      color: #999; 
      font-style: italic; 
      padding-left: 3px;
      opacity: 0.7; 
    }

    
  
  }
}

.columnInput {
  padding: 5px;
}

.addColumnButton {
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 20px;

span {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
 
}
}

.columnContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;


  .columnWrapper {
    display: flex;
    flex-direction: row;
    gap: 34px;
    height:calc(100vh - 140px);
    overflow-x: scroll;
    

    .columnContent {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      gap: 30px;
      max-height: calc(100vh - 160px);
      height: fit-content;
    }
  
  }

}

.columnWrapper::-webkit-scrollbar {
  width: 4px;

}

.columnWrapper::-webkit-scrollbar-track {
  background-color: rgba(182, 179, 179, 0.3); /* Set the track's color */
  border-radius: 10px; /* Optional: Round the corners of the track */
}

.columnWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(153, 163, 155, 0.726); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Round the corners of the scrollbar thumb */
}

.columnWrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgb(153, 163, 155);
}



.column {
  

  .columnTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    height: 45px;
    width: 310px;
    background: #ffffff;
    align-items: center;
    border-radius: 8px;
    padding: 0 20px;


    .editFormColumn input{  padding: 3px 0px 3px 4px; border-radius: 5px;}
    .editFormColumn button{ font-size: 13px; font-weight: 500; margin-left: 10px; background-color: black; color: white;  border-radius: 5px; padding: 2px 4px}
    .editFormColumn button:hover{background-color: rgba(0, 0, 0, 0.582)}

    .modifytitle {display: flex; gap: 10px; font-size: 18px;}
    .modifytitle svg:hover{color: rgb(128, 180, 102)}
  }

}

.cardsContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 310px;
  max-height: calc(100vh - 270px );
  overflow-y: auto;
}

.cardsContainer::-webkit-scrollbar {
  width: 7px;
}

.cardsContainer::-webkit-scrollbar-track {
  background-color: rgba(182, 179, 179, 1); /* Set the track's color */
  border-radius: 10px; /* Optional: Round the corners of the track */
}

.cardsContainer::-webkit-scrollbar-thumb {
  background-color: rgb(167, 206, 148); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Round the corners of the scrollbar thumb */
}

.cardsContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgb(128, 180, 102);
}

.addCardContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  
}

.cardInput {
  margin-bottom: 5px;
}

.addCardButton {
  background-color: rgb(167, 206, 148);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  width: 310px;
}
.addCardButton:hover{background-color:rgb(128, 180, 102)}
@media screen and (min-width: 768px) {.boardContainer {width: calc(100vw - 260px);}}